body {
    font-family: "solid";
    background-color: rgb(36, 37, 37);
}

.input-section {
    margin-bottom: 15px;
    width: 22cm;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}


.label-section {
    font-size: 0.5cm;
    color: black;
}

.div-section {
    height: 1cm;
    border-radius: 8px;
    margin: 0.5cm;

}

.div-content {
    height: 2cm;
    border-radius: 8px;
    margin: 0.3cm;
}



.preview {
    width: 15cm;
    height: 15cm;
}

.video-preview {
    width: 15cm;
    height: auto;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
    width: 100%;
    padding: 5px;
}

.button-section {
    text-align: center;
    text-shadow: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-section button:hover {
    background-color: green;
    border-color: #0062cc;
}

.button-section button {
    margin-top:10px;
    border-radius:10px;
    background-color:blue;
    height:38px;
    width:120px;
    color:white;
    text-align:center;
}

.data-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.card {
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 
                5px 5px 15px rgba(0, 0, 10, 1);
    padding: 20px;
    margin-bottom: 20px;
    margin-left:200px;
    margin-top: 10px;
    margin-right: 20px;
    max-width: 900px;
    background-color: rgb(134, 231, 70);
    

}

.card-title {
    margin: 5px;
}

.card-body {
    margin-top: 4px;
}
.card-header {
    background-color:  mintcream;
    padding: 10px;
    border-radius: 6px;
}




